

#questions
- for question in @questions  
  .question
    %span.member 
      = question.member
    %span.text
      = question.text
    %span.uin
      = question.uin
    %span.uin
      = question.answer.to_yaml